<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info">


	<Appenders>
		<Console name="STDOUT">
			<PatternLayout
				pattern="%highlight{%-5level} [%t] %c : %m%n" />
		</Console>
		<File name="global" fileName="${sys:catalina.home}/logs/global.log" append="true">
			<PatternLayout pattern="%highlight{%-5level} [%t] %c : %m%n" />
		</File>
		<File name="escapp" fileName="${sys:catalina.home}/logs/escapp.log" append="true">
			<PatternLayout pattern="%highlight{%-5level} [%t] %c : %m%n" />
		</File>
	</Appenders>

	<Loggers>
		<Logger name="fr.brucella.form.escapp" level="debug"
			additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="escapp" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="global" />
		</Root>
	</Loggers>
</Configuration>